html{
    font-family: "Open Sans", sans-serif;
}

.carou{
    font-size: 1.2rem;
    color: white; 
    
}
 
h1 .card-img-overlay{
    font-weight: bold;
}

.card-body1{
    padding: 0.5rem;
}
#hhh:hover {
    transform:scale(1.05);
    box-shadow: 0px 8px 16px 0px  rgba(104,26,93, 0.9);
  }
  .btn{
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
    width: 45%;
  }
  
  .btn:hover {
    transform:scale(1.10);
  }